@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  font-family: Montserrat, sans-serif;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 3rem;
  text-align: center;
}

.game-result {
  text-align: center;
  font-size: 1.5rem;
}

.buttons-container {
  justify-content: center;
  text-align: center;
}

.button {
  border-radius: 100%;
  border-style: none;
  box-shadow: 0 0 0 10px;
  box-sizing: border-box;
  font-size: xx-large;
  height: 70px;
  width: 70px;
  margin: 0.5rem 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  cursor: pointer;
  transform: scale(120%);
}

.button:active {
  transform: scale(1.15);
}

.versus {
  font-size: 4rem;
  font-weight: 600;
  margin: 0 2rem;
}

.gamezone-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamezone-emoji-container {
  display: flex;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  background-color: rgba(183, 181, 181, 0.5);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.gamezone-score-text {
  font-weight: 500;
}